.App {
  overflow: hidden;
  box-sizing: border-box;
  background: #000000;
  min-height: 100vh;
  color: rgba(0, 255, 0, 1);
}

* {
  box-sizing: border-box;
}

.container {
  padding: 30px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;

  &_item {
    border: 0.5px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    color: rgba(0, 255, 0, 1);
  }

  &_title {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.main-title {
  margin: 50px 0;
  font-size: 70px;
  text-align: center;
}

.metric_item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 15px;
}
